@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

.navbar {
    background: whitesmoke;
    font-family: 'Unna', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}